@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
:root {
  --color1: #000000;
  --color2: #3d3d3d;
  --color3: #fe752f;
  --color4: #ffffff;
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: var(--color1);
  font-family: "Poppins", sans-serif;
  color: var(--color4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.motor__title {
  color: var(--color3);
  margin: 0;
}
.motor__form {
  background: var(--color2);
  width: 320px;
  border-radius: 20px;
  padding: 10px;
}
.motor__btn {
  margin: 10px 5px;
  width: calc(40% - 15px);
  border: none;
  padding: 8px 0;
  border-radius: 5px;
  background: var(--color3);
  color: var(--color4);
}
.averigua {
  text-align: start;
  margin: 0 10%;
}
.averigua input {
  width: 100%;
  border: none;
  padding: 5px;
  margin-bottom: 10px;
}
.averigua__label {
  color: var(--color4);
}
